__pycache__/
*.pyc
*_pycache_*
analysis/asimut/
analysis/retrievals/
analysis/simulations/
analysis/so_retrievals/
analysis/lno_retrievals/
analysis/uvis_retrievals/
old_scripts
output
reference_files

repos/
other/pipeline/nomad_ops/
other/non_work