<!DOCTYPE html>
<html>
<head>
  <title>HDF5 server file list for {{ channel }} channel data in level {{ level }}</title>
</head>
<body>
  <h3>HDF5 server file list for {{ channel }} channel data in level {{ level }}</h3>

  <form action="downloader" method="post">
  
  <table border="1">
  <tr>
  {% for table_header in table_headers %}
    <th>{{ table_header }}</th>
  {% endfor %}
  </tr>

  {% for row_items in table_items %}
  <tr>
    <td><input type="checkbox" name="name{{ forloop.counter0}}" />&nbsp;</td>
	{% for row_item in row_items %}
      <td>{{ row_item }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <input type="submit" value="Download">
  </form>
  
  
  </body>
</html>